<div class="row container center">
    <br>
    <img class="responsive-img burgerpic" style="width: 8em;" src="/assets/images/burger.png">
    <h4 style="font-family: 'Unica One', cursive; font-weight: bold;"> Eat-Da-Burger </h4>
    <br>
    <br>
    <div class="row">
        <div class="col s6 text-center">
            <div class="row">
                {{#each burger}} {{#unless this.devoured}}
                <div class="col s8 text-center">
                    <p> {{this.id}}.-  {{this.burger_name}}</p>
                </div>
                <div class="col s4 text-center">
                    <button class="btn devour burger_id" value="{{this.id}}"> Devour!</button>
                </div>
                {{/unless}} {{/each}}
            </div>
        </div>
        <div class="col s6 text-center">
            {{#each burger}} {{#if this.devoured}}
            <div class="card-panel grey lighten-5 z-depth-1">
                <span class="black-text">
                    {{this.id}} {{this.burger_name}}
                </span>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
    <br>
    
    <div class="input-field col s4">
        <form action="/burgers/create" method="POST">
            <input id="burger_name" type="text" class="validate burger_name" name="burger_name">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
        </form>
    </div>
</div>
